# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
- external-dns.helmrelease.yaml
- external-dns.helmrepository.yaml
- hashicorp.helmrepository.yaml
- homelab-pki.gitrepository.yaml
- metallb.helmrelease.yaml
- metallb.helmrepository.yaml
- metallb.kustomization.yaml
- openebs.helmrelease.yaml
- openebs.helmrepository.yaml
- rbac.kustomization.yaml
- traefik.helmrelease.yaml
- traefik.helmrepository.yaml
- vault.helmrelease.yaml
- velero.helmrelease.yaml
- velero.helmrepository.yaml
- velero.kustomization.yaml
